{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class='text-center'>Welcome <strong>{{var.username}}</strong></h1>




<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tutor_name</th>
        <th>Email</th>

        <th>user_name</th>
        <th>address</th>
        <th>gender</th>
        <th>mobile</th>
        <th>image</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for lst in lst %}


      <tr>
        <td>{{lst.user.first_name}}</td>
        <td>{{lst.user.email}}</td>
        <td>{{lst.user}}</td>
        <td>{{lst.address}}</td>
        <td>{{lst.gender}}</td>
        <td>{{lst.mobile}}</td>
        {% if lst.image == '/static/image/default.png' %}
        <td>
          <!-- <img src="{{ lst.image }}" class="w-25"> -->
          <img src="{% static 'static/image/default.png' %}"  class="w-25" alt="My image">
        </td>
        {% else %}
        <td>
          <img src="{{ lst.image.url }}" class="w-25">
        </td>
        {% endif %}
        <td><a style="text-decoration: none;"  href="{% url 'edit' lst.id %}">EDIT</a><br>
          <a href="{% url 'delete' lst.id %}">DELETE</a> </td>
      </tr>

      {% endfor %}


    </tbody>
  </table>

</div>
<div class="text-center">
  <button class='btn btn-danger'>
    <a class="nav-link text-white " href="{% url 'logout' %}">LOGOUT</a>
  </button>
</div>
{% endblock content %}