{% extends "base.html" %}

{% block content %}
<h2> User profile</h2>
{% for dic in dic %}
<div class="container justify-content-center">
    <div class="card" style="height: 200px;width: 200px;">
        <img class="card-img-top" src="{{ dic.photo.url }}" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">{{ dic.user.first_name }}</h4>
            <p class="card-text">{{ dic.mobile }}</p>
            <!-- <p>{{var.username}}</p> -->

        </div>
    </div>
</div>

{% endfor %}
<div class="text-center">
    <button class='btn btn-danger'>
      <a class="nav-link text-white " href="{% url 'logout' %}">LOGOUT</a>
    </button>
  </div>
{% endblock content %}